.typographyFont {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.primaryColor {
  color: var(--md-sys-color-primary-light);
}

.primaryContainerColor {
  color: var(--md-sys-color-primary-container-light);
}

.onPrimaryColor {
  color: var(--md-sys-color-on-primary-light);
}
