.typographyFont {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.primary {
  color: var(--md-sys-color-primary-light);
}

.primaryContainer {
  color: var(--md-sys-color-primary-container-light);
}

.onPrimary {
  color: var(--md-sys-color-on-primary-light);
}

.onPrimaryContainer {
  color: var(--md-sys-color-on-primary-container-light);
}

.secondary {
  color: var(--md-sys-color-secondary-light);
}

.secondaryContainer {
  color: var(--md-sys-color-secondary-container-light);
}

.onSecondary {
  color: var(--md-sys-color-on-secondary-light);
}

.onSecondaryContainer {
  color: var(--md-sys-color-on-secondary-container-light);
}

.tertiary {
  color: var(--md-sys-color-tertiary-light);
}

.tertiaryContainer {
  color: var(--md-sys-color-tertiary-container-light);
}

.onTertiary {
  color: var(--md-sys-color-on-tertiary-light);
}

.onTertiaryContainer {
  color: var(--md-sys-color-on-tertiary-container-light);
}

.error {
  color: var(--md-sys-color-error-light);
}

.errorContainer {
  color: var(--md-sys-color-error-container-light);
}

.onError {
  color: var(--md-sys-color-on-error-light);
}

.onErrorContainer {
  color: var(--md-sys-color-on-error-container-light);
}

.outline {
  color: var(--md-sys-color-outline-light);
}

.background {
  color: var(--md-sys-color-background-light);
}

.onBackground {
  color: var(--md-sys-color-on-background-light);
}

.surface {
  color: var(--md-sys-color-surface-light);
}

.onSurface {
  color: var(--md-sys-color-on-surface-light);
}

.surfaceVariant {
  color: var(--md-sys-color-surface-variant-light);
}

.onSurfaceVariant {
  color: var(--md-sys-color-on-surface-variant-light);
}

.inverseSurface {
  color: var(--md-sys-color-inverse-surface-light);
}

.inverseOnSurface {
  color: var(--md-sys-color-inverse-on-surface-light);
}

.inversePrimary {
  color: var(--md-sys-color-inverse-primary-light);
}

.shadow {
  color: var(--md-sys-color-shadow-light);
}

.surfaceTint {
  color: var(--md-sys-color-surface-tint-light);
}

.outlineVariant {
  color: var(--md-sys-color-outline-variant-light);
}

.scrim {
  color: var(--md-sys-color-scrim-light);
}

.displayLarge {
  font-weight: var(--md-sys-typescale-display-large-font-weight);
  font-size: var(--md-sys-typescale-display-large-font-size);
  line-height: var(--md-sys-typescale-display-large-line-height);
  letter-spacing: var(--md-sys-typescale-display-large-letter-spacing);
}

.displayMedium {
  font-weight: var(--md-sys-typescale-display-medium-font-weight);
  font-size: var(--md-sys-typescale-display-medium-font-size);
  line-height: var(--md-sys-typescale-display-medium-line-height);
  letter-spacing: var(--md-sys-typescale-display-medium-letter-spacing);
}

.displaySmall {
  font-weight: var(--md-sys-typescale-display-small-font-weight);
  font-size: var(--md-sys-typescale-display-small-font-size);
  line-height: var(--md-sys-typescale-display-small-line-height);
  letter-spacing: var(--md-sys-typescale-display-small-letter-spacing);
}

.headlineLarge {
  font-weight: var(--md-sys-typescale-headline-large-font-weight);
  font-size: var(--md-sys-typescale-headline-large-font-size);
  line-height: var(--md-sys-typescale-headline-large-line-height);
  letter-spacing: var(--md-sys-typescale-headline-large-letter-spacing);
}

.headlineMedium {
  font-weight: var(--md-sys-typescale-headline-medium-font-weight);
  font-size: var(--md-sys-typescale-headline-medium-font-size);
  line-height: var(--md-sys-typescale-headlinemedium-line-height);
  letter-spacing: var(--md-sys-typescale-headline-medium-letter-spacing);
}

.headlineSmall {
  font-weight: var(--md-sys-typescale-headline-small-font-weight);
  font-size: var(--md-sys-typescale-headline-small-font-size);
  line-height: var(--md-sys-typescale-headline-small-line-height);
  letter-spacing: var(--md-sys-typescale-headline-small-letter-spacing);
}

.labelLarge {
  font-weight: var(--md-sys-typescale-label-large-font-weight);
  font-size: var(--md-sys-typescale-label-large-font-size);
  line-height: var(--md-sys-typescale-label-large-line-height);
  letter-spacing: var(--md-sys-typescale-label-large-letter-spacing);
}

.labelMedium {
  font-weight: var(--md-sys-typescale-label-medium-font-weight);
  font-size: var(--md-sys-typescale-label-medium-font-size);
  line-height: var(--md-sys-typescale-label-medium-line-height);
  letter-spacing: var(--md-sys-typescale-label-medium-letter-spacing);
}

.labelSmall {
  font-weight: var(--md-sys-typescale-label-small-font-weight);
  font-size: var(--md-sys-typescale-label-small-font-size);
  line-height: var(--md-sys-typescale-label-small-line-height);
  letter-spacing: var(--md-sys-typescale-label-small-letter-spacing);
}

.titleLarge {
  font-weight: var(--md-sys-typescale-title-large-font-weight);
  font-size: var(--md-sys-typescale-title-large-font-size);
  line-height: var(--md-sys-typescale-title-large-line-height);
  letter-spacing: var(--md-sys-typescale-title-large-letter-spacing);
}

.titleMedium {
  font-weight: var(--md-sys-typescale-title-medium-font-weight);
  font-size: var(--md-sys-typescale-title-medium-font-size);
  line-height: var(--md-sys-typescale-title-medium-line-height);
  letter-spacing: var(--md-sys-typescale-title-medium-letter-spacing);
}

.titleSmall {
  font-weight: var(--md-sys-typescale-title-small-font-weight);
  font-size: var(--md-sys-typescale-title-small-font-size);
  line-height: var(--md-sys-typescale-title-small-line-height);
  letter-spacing: var(--md-sys-typescale-title-small-letter-spacing);
}
