.boxCommon {
  display: flex;
}

.row {
  flex-direction: row;
}

.rowReverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.columnReverse {
  flex-direction: column-reverse;
}

.justifyContentStart {
  justify-content: flex-start;
}

.justifyContentEnd {
  justify-content: flex-end;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.justifyContentSpaceAround {
  justify-content: space-around;
}

.justifyContentSpaceEvenly {
  justify-content: space-evenly;
}

.alignItemsStart {
  align-items: flex-start;
}

.alignItemsEnd {
  align-items: flex-end;
}

.alignItemsCenter {
  align-items: center;
}

.alignItemsBaseline {
  align-items: baseline;
}

.alignItemsStretch {
  align-items: stretch;
}

.wrap {
  flex-wrap: wrap;
}

.wrapReverse {
  flex-wrap: wrap-reverse;
}

.noWrap {
  flex-wrap: nowrap;
}
