.buttonCommon {
  padding: 10px 30px;
  border-radius: 100px;
  border: none;
}

.textButton {
  background-color: #ffffff;
  color: #006972;
}

.filledButton {
  color: #ffffff;
  background: #006972;
}

.outlinedButton {
  border: solid 1px #6f797a;
}

.fullWidth {
  width: 100%;
}
