:root {
  --md-source: #006972;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001416;
  --md-ref-palette-primary10: #001F23;
  --md-ref-palette-primary20: #00363B;
  --md-ref-palette-primary25: #004248;
  --md-ref-palette-primary30: #004F56;
  --md-ref-palette-primary35: #005C64;
  --md-ref-palette-primary40: #006972;
  --md-ref-palette-primary50: #00848F;
  --md-ref-palette-primary60: #00A0AD;
  --md-ref-palette-primary70: #20BCCB;
  --md-ref-palette-primary80: #4ED8E7;
  --md-ref-palette-primary90: #8BF2FF;
  --md-ref-palette-primary95: #CBF9FF;
  --md-ref-palette-primary98: #EBFDFF;
  --md-ref-palette-primary99: #F5FEFF;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #001416;
  --md-ref-palette-secondary10: #051F22;
  --md-ref-palette-secondary20: #1C3437;
  --md-ref-palette-secondary25: #273F42;
  --md-ref-palette-secondary30: #324B4E;
  --md-ref-palette-secondary35: #3E575A;
  --md-ref-palette-secondary40: #4A6366;
  --md-ref-palette-secondary50: #627B7F;
  --md-ref-palette-secondary60: #7C9599;
  --md-ref-palette-secondary70: #96B0B3;
  --md-ref-palette-secondary80: #B1CBCF;
  --md-ref-palette-secondary90: #CDE7EB;
  --md-ref-palette-secondary95: #DBF6F9;
  --md-ref-palette-secondary98: #EBFDFF;
  --md-ref-palette-secondary99: #F5FEFF;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #02102B;
  --md-ref-palette-tertiary10: #0C1B36;
  --md-ref-palette-tertiary20: #22304D;
  --md-ref-palette-tertiary25: #2E3B58;
  --md-ref-palette-tertiary30: #394664;
  --md-ref-palette-tertiary35: #455271;
  --md-ref-palette-tertiary40: #515E7D;
  --md-ref-palette-tertiary50: #697797;
  --md-ref-palette-tertiary60: #8390B2;
  --md-ref-palette-tertiary70: #9DABCE;
  --md-ref-palette-tertiary80: #B9C6EA;
  --md-ref-palette-tertiary90: #D8E2FF;
  --md-ref-palette-tertiary95: #EDF0FF;
  --md-ref-palette-tertiary98: #FAF9FF;
  --md-ref-palette-tertiary99: #FEFBFF;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0E1212;
  --md-ref-palette-neutral10: #191C1D;
  --md-ref-palette-neutral20: #2D3131;
  --md-ref-palette-neutral25: #393C3C;
  --md-ref-palette-neutral30: #444748;
  --md-ref-palette-neutral35: #505353;
  --md-ref-palette-neutral40: #5C5F5F;
  --md-ref-palette-neutral50: #747878;
  --md-ref-palette-neutral60: #8E9191;
  --md-ref-palette-neutral70: #A9ACAC;
  --md-ref-palette-neutral80: #C4C7C7;
  --md-ref-palette-neutral90: #E0E3E3;
  --md-ref-palette-neutral95: #EFF1F1;
  --md-ref-palette-neutral98: #F8FAFA;
  --md-ref-palette-neutral99: #FAFDFD;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #091214;
  --md-ref-palette-neutral-variant10: #141D1E;
  --md-ref-palette-neutral-variant20: #293233;
  --md-ref-palette-neutral-variant25: #343D3E;
  --md-ref-palette-neutral-variant30: #3F484A;
  --md-ref-palette-neutral-variant35: #4B5455;
  --md-ref-palette-neutral-variant40: #576061;
  --md-ref-palette-neutral-variant50: #6F797A;
  --md-ref-palette-neutral-variant60: #899294;
  --md-ref-palette-neutral-variant70: #A3ADAE;
  --md-ref-palette-neutral-variant80: #BEC8CA;
  --md-ref-palette-neutral-variant90: #DAE4E6;
  --md-ref-palette-neutral-variant95: #E9F3F4;
  --md-ref-palette-neutral-variant98: #F1FBFC;
  --md-ref-palette-neutral-variant99: #F5FEFF;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #006972;
  --md-sys-color-primary-container-light: #8BF2FF;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-on-primary-container-light: #001F23;
  --md-sys-color-secondary-light: #4A6366;
  --md-sys-color-secondary-container-light: #CDE7EB;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-on-secondary-container-light: #051F22;
  --md-sys-color-tertiary-light: #515E7D;
  --md-sys-color-tertiary-container-light: #D8E2FF;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-on-tertiary-container-light: #0C1B36;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #6F797A;
  --md-sys-color-background-light: #FAFDFD;
  --md-sys-color-on-background-light: #191C1D;
  --md-sys-color-surface-light: #FAFDFD;
  --md-sys-color-on-surface-light: #191C1D;
  --md-sys-color-surface-variant-light: #DAE4E6;
  --md-sys-color-on-surface-variant-light: #3F484A;
  --md-sys-color-inverse-surface-light: #2D3131;
  --md-sys-color-inverse-on-surface-light: #EFF1F1;
  --md-sys-color-inverse-primary-light: #4ED8E7;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006972;
  --md-sys-color-outline-variant-light: #BEC8CA;
  --md-sys-color-scrim-light: #000000;
  /* dark */
  --md-sys-color-primary-dark: #4ED8E7;
  --md-sys-color-primary-container-dark: #004F56;
  --md-sys-color-on-primary-dark: #00363B;
  --md-sys-color-on-primary-container-dark: #8BF2FF;
  --md-sys-color-secondary-dark: #B1CBCF;
  --md-sys-color-secondary-container-dark: #324B4E;
  --md-sys-color-on-secondary-dark: #1C3437;
  --md-sys-color-on-secondary-container-dark: #CDE7EB;
  --md-sys-color-tertiary-dark: #B9C6EA;
  --md-sys-color-tertiary-container-dark: #394664;
  --md-sys-color-on-tertiary-dark: #22304D;
  --md-sys-color-on-tertiary-container-dark: #D8E2FF;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #899294;
  --md-sys-color-background-dark: #191C1D;
  --md-sys-color-on-background-dark: #E0E3E3;
  --md-sys-color-surface-dark: #191C1D;
  --md-sys-color-on-surface-dark: #C4C7C7;
  --md-sys-color-surface-variant-dark: #3F484A;
  --md-sys-color-on-surface-variant-dark: #BEC8CA;
  --md-sys-color-inverse-surface-dark: #E0E3E3;
  --md-sys-color-inverse-on-surface-dark: #191C1D;
  --md-sys-color-inverse-primary-dark: #006972;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #4ED8E7;
  --md-sys-color-outline-variant-dark: #3F484A;
  --md-sys-color-scrim-dark: #000000;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Roboto;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Roboto;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Roboto;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Roboto;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Roboto;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Roboto;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Roboto;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Roboto;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Roboto;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Roboto;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Roboto;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Roboto;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Roboto;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Roboto;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Roboto;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
